name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  # pull_request:
    # branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      # run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
      # run: docker build -t php-84-apache:latest .
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: zuraj/php-84-apache:latest
